{% load static %}
{% if show_intro_animation %}
<div
    id="intro"
    class="intro"
    x-data="introOverlay()"
    x-init="init()"
    x-show="visible"
    x-cloak
    x-transition:leave="intro--fading"
    aria-hidden="true"
>
    <div class="intro__bulb"></div>
    <div class="intro__beam"></div>
    <div class="intro__dust">
        <span style="left:44%; top:60%; animation-delay:0.2s;"></span>
        <span style="left:56%; top:64%; animation-delay:0.9s;"></span>
        <span style="left:49%; top:54%; animation-delay:1.5s;"></span>
        <span style="left:38%; top:70%; animation-delay:0.5s;"></span>
        <span style="left:60%; top:58%; animation-delay:1.2s;"></span>
    </div>

    <div class="intro__center">
        <img src="{% static 'img/logo-icon.svg' %}" alt="" class="intro__logo">
        <p class="intro__title">La sala de <em>Bygui</em></p>
    </div>

    <button type="button" class="intro__skip" @click="skip()">Saltar intro</button>
</div>

<script src="{% static 'js/intro.js' %}"></script>
{% endif %}
